.about-wrapper {
    display: flex;
    img {
        width: 400px;
        height: auto;
        margin-right: 50px;
    }
    h2{
        margin-bottom: 15px;
    }
    p {
        text-align: justify;
    }
}