.category-movie-item-wrapper {
    display: flex;
    margin-bottom: 20px;
    width: 480px;
    div {
        display: flex;
        flex-direction: column;
        span:first-child {
            margin-bottom: 57px;
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
        }
        span:last-child {
            font-size: 16px;
        }
    }
    div:first-child {
        margin-right: 43px;
    }
    img {
        width: 180px;
        height: 260px;
        object-fit: cover;
        border-radius: 20px;
        box-shadow: 0px 5px 25px 0px rgba(119, 119, 119, 0.08);
    };
}